#root {
  width: 100%;
  text-align: center;
}

.button_nav {
  background-color: #212529;
  color: #ffffff;
  height: fit-content;
  padding: 0.5rem;
  margin: 0 0.25rem;
  border-width: 1px;
  border-color: #ffffff;
}

.nav_bar {
  background-color: #212529;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  h3 {
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
    width: fit-content;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-between;
}

.cart {
  padding-right: 1rem;
}

.home {
  padding: 0;
  margin: 0;
}

.header {
  color: #ffffff;
  background-image: url("assets/img/header.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 2rem;
  text-shadow: 0 0 1rem #212529;
  h1 {
    margin: 0;
    padding: 0;
  }
  hr{
    border-color: #ffffff65;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #ffffff;
  color: #000000;
}

.card {
  width: 25%;
  border-radius: 15px;
  border-color: #21252966;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.card_image {
  width: 100%;
}

.card_name {
  font-size: x-large;
  font-weight: 500;
  width: 100%;
  text-align: left;
  padding: 0 1rem;
}

.card_ing {
  color: #363c42;
  .tittle{
    font-size: large;
  }
}

.price {
  font-size: xx-large;
  font-weight: 700;
}

.card_buttons{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  .button_a {
    border-color: #212529;
    background-color: #ffffff;
    color: #000000;
  }
  .button_b {
    border-color: #212529;
    color: #ffffff;
    background-color: #000000;
  }
}

.footer {
  padding: 1rem;
}